{% load static %}
<nav class="navbar navbar-expand-lg bg-success-subtle">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a  class="navbar-brand w-25 P-0" href="{% url 'books' %}">
        <img style="height: 50px;" class='P-0' src="{% static 'images/pu-logo.png' %}" alt="">
        PU LIBRARY
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books' %}"> Books</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create-book' %}">Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'librarians' %}">Librarians</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create-book' %}">Profile</a>
          </li>
         
          <li class="nav-item">
            <a class='btn btn-outline-success' class="nav-link" href="{% url 'create-book' %}">Login</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>